<% layout('layouts/boilerplate') %>


    

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 g- mt-3 " id="index">
        <% for (let item of searched) { %>
            <a href="/listings/<%= item._id %>" class="listing-link">

                <div class="col ">
                    <div class="card h-100 listing-card" style="width: 20rem">
                        <img src="<%= item.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text"> <b>
                                    <%= item.title %>
                                </b> <br> &#8360 <%= item.price.toLocaleString('en-PK') %>
                                    
                            </p>
                        </div>
                    </div>
                </div>
            </a>
            <% } %>
    </div>

    